*,
::after,
::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    min-height: 100%;
}

body {
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: rgb(198, 204, 179);
}

body::-webkit-scrollbar {
    width: 0;
}

.wrapper {
    max-width: 60rem;
    padding: 20px 10px;
    margin: 0 auto;

}

.accordion {}

.accordion-item {}

.accordion-item__input {
    display: none;
}

.accordion-item__trigger {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid black;
    color: rgb(11, 54, 146);
}

.accordion-item__content {
    display: flex;
    justify-content: center;
    height: 0;
}

.accordion-item__input~.accordion-item__trigger svg {
    opacity: 0;
}

.accordion:hover svg {
    opacity: 1;
}

.accordion:hover .accordion-item__trigger {
  color: black;
}

.accordion-item__input:checked~.accordion-item__trigger svg {
    transform: rotate(-45deg);
}

.accordion-item__input:hover~.accordion-item__trigger svg {
    transform: rotate(-45deg);
}

.accordion-item__input:checked~.accordion-item__content {
    height: 300px;
    margin-bottom: 20px;
}

.accordion-item__input:checked~.accordion-item__trigger {
color: black;
filter: grayscale(40%);
}

.accordion-item__input:active~.accordion-item__trigger {
    color: rgb(11, 54, 146);
    }

    .accordion-item__input:active~.accordion-item__content {
        filter: grayscale(40%);
        }

.accordion-item__trigger:hover~.accordion-item__content {
    height: 300px;
    margin-bottom: 20px;
}

.accordion-item__content:hover {
    height: 300px;
    margin-bottom: 20px;
}



